<style>
    .data-check {

    }
    .data-check p {
        font-size: 10px;
        color: #6f777b;
    }
    .data-check-column {
        float: left;
    }

    .data-check-left {
        width: 25%;
    }
    .data-check-left p {
        padding-right: 10px;
    }

    .data-check-right {
        width: 74%;
        padding-left: 1%;
    }
    
    .data-check-column p {
        height: 14px;
        overflow: hidden;
    }
    
    /* Clear floats after the columns */
    .data-check-row:after {
        content: "";
        display: table;
        clear: both;
    }
    .data-check-column p {
        border-top:1px solid #bfc1c3;
        padding: 2px 0;
    }

    .data-check-no-top-border {
        border-top: none!important;
    }

</style>

<div class="data-check margin-bottom-30" style="display:none">
    
    <p class="govuk-!-font-weight-bold margin-bottom-5">Data check</p>
    <p class="margin-bottom-0">&nbsp;</p>

    <div class="data-check-row">
        
        <!-- LEFT COLUMN -->
        <div class="data-check-column data-check-left">
            <p class="margin-bottom-0 govuk-!-font-weight-bold data-check-no-top-border">Check your name and address</p>
            <p class="margin-bottom-0">Defendant's first name</p>
            <p class="margin-bottom-0">Defendant's last name</p>
            <p class="margin-bottom-0">Defendant's address line 1</p>
            <p class="margin-bottom-0">Defendant's address line 2</p>
            <p class="margin-bottom-0">Defendant's address line 3</p>
            <p class="margin-bottom-0">Defendant's address county</p>
            <p class="margin-bottom-0">Defendant's address town or city</p>
            <p class="margin-bottom-0">Defendant's address postcode</p>
            <p class="margin-bottom-0">Are these details correct?</p>
            <p class="margin-bottom-0">&nbsp;</p>
            
            <p class="margin-bottom-0 govuk-!-font-weight-bold data-check-no-top-border">Changes to your name and address</p>
            <p class="margin-bottom-0">New defendant's first name</p>
            <p class="margin-bottom-0">New defendant's last name</p>
            <p class="margin-bottom-0">New defendant's address line 1</p>
            <p class="margin-bottom-0">New defendant's address line 2</p>
            <p class="margin-bottom-0">New defendant's address line 3</p>
            <p class="margin-bottom-0">New defendant's address county</p>
            <p class="margin-bottom-0">New defendant's address town or city</p>
            <p class="margin-bottom-0">New defendant's address postcode</p>
            <p class="margin-bottom-0">&nbsp;</p>
            
            <p class="margin-bottom-0 govuk-!-font-weight-bold data-check-no-top-border">Enter other details</p>
            <p class="margin-bottom-0">Defendant's DOB - day</p>
            <p class="margin-bottom-0">Defendant's DOB - month</p>
            <p class="margin-bottom-0">Defendant's DOB - year</p>
            <p class="margin-bottom-0">Defendant's email</p>
            <p class="margin-bottom-0">Defendant's contact number</p>
            <p class="margin-bottom-0">&nbsp;</p>
            
            <p class="margin-bottom-0 govuk-!-font-weight-bold data-check-no-top-border">Driving license number</p>
            <p class="margin-bottom-0">Do you have a DL?</p>
            <p class="margin-bottom-0">DL number</p>
            <p class="margin-bottom-0">If no - what kind of license?</p>
            <p class="margin-bottom-0">&nbsp;</p>
            
            <p class="margin-bottom-0 govuk-!-font-weight-bold data-check-no-top-border">Your plea</p>
            <p class="margin-bottom-0">Plea for offence 1</p>
            <p class="margin-bottom-0">Plea for offence 2</p>
            <p class="margin-bottom-0">Plea for offence 3</p>
            <p class="margin-bottom-0">&nbsp;</p>
            
            
            <p class="margin-bottom-0 govuk-!-font-weight-bold data-check-no-top-border">Evidence in this notice</p>
            <p class="margin-bottom-0">Do you disagree with any of the statements in the notice sent to you?</p>
            <p class="margin-bottom-0">Tell us what you don't agree with</p>
            <p class="margin-bottom-0">&nbsp;</p>

            <p class="margin-bottom-0 govuk-!-font-weight-bold data-check-no-top-border">Guilty plea</p>
            <p class="margin-bottom-0">If guilty - come to court?</p>
            <p class="margin-bottom-0">&nbsp;</p>
            
            <p class="margin-bottom-0 govuk-!-font-weight-bold data-check-no-top-border">Mitigation (per plea)</p>
            <p class="margin-bottom-0">Offence 1 mitigation</p>
            <p class="margin-bottom-0">Offence 2 mitigation</p>
            <p class="margin-bottom-0">Offence 3 mitigation</p>
            <p class="margin-bottom-0">&nbsp;</p>
            
            <p class="margin-bottom-0 govuk-!-font-weight-bold data-check-no-top-border">Your court hearing</p>
            <p class="margin-bottom-0">Bring your own witness?</p>
            <p class="margin-bottom-0">If yes - witness details</p>
            <p class="margin-bottom-0">Dates to avoid</p>
            <p class="margin-bottom-0">If yes - which dates</p>
            <p class="margin-bottom-0">Interpreter needed?</p>
            <p class="margin-bottom-0">If yes - which language?</p>
            <p class="margin-bottom-0">Speak Welsh?</p>
            <p class="margin-bottom-0">Any access needs?</p>
            <p class="margin-bottom-0">If yes - which needs?</p>
            <p class="margin-bottom-0">&nbsp;</p>
            
            <p class="margin-bottom-0 govuk-!-font-weight-bold data-check-no-top-border">Your finances</p>
            <p class="margin-bottom-0">Give us income or benefits details?</p>
            <p class="margin-bottom-0">Any outstanding fines?</p>
            <p class="margin-bottom-0">&nbsp;</p>
                        
            <p class="margin-bottom-0 govuk-!-font-weight-bold data-check-no-top-border">Your income</p>
            <p class="margin-bottom-0">Employment status</p>
            <p class="margin-bottom-0">Other employement details</p>
            <p class="margin-bottom-0">Income frequency</p>
            <p class="margin-bottom-0">Weekly income</p>
            <p class="margin-bottom-0">Fortnightly income</p>
            <p class="margin-bottom-0">Monthly income</p>
            <p class="margin-bottom-0">Yearly income</p>
            <p class="margin-bottom-0">&nbsp;</p>
                        
            <p class="margin-bottom-0 govuk-!-font-weight-bold data-check-no-top-border">Deductions from earnings</p>
            <p class="margin-bottom-0">Deduct from earnings?</p>
            <p class="margin-bottom-0">&nbsp;</p>
                        
            <p class="margin-bottom-0 govuk-!-font-weight-bold data-check-no-top-border">Your employment</p>
            <p class="margin-bottom-0">Company name</p>
            <p class="margin-bottom-0">Employee reference number</p>
            <p class="margin-bottom-0">Employer address line 1</p>
            <p class="margin-bottom-0">Employer address line 2</p>
            <p class="margin-bottom-0">Employer address line 3</p>
            <p class="margin-bottom-0">Employer address line 4</p>
            <p class="margin-bottom-0">Employer address line 5</p>
            <p class="margin-bottom-0">Employer postcode</p>
            <p class="margin-bottom-0">Employer telephone</p>
            <p class="margin-bottom-0">&nbsp;</p>
                        
            <p class="margin-bottom-0 govuk-!-font-weight-bold data-check-no-top-border">Your benefits</p>
            <p class="margin-bottom-0">Are you claiming benefits?</p>
            <p class="margin-bottom-0">&nbsp;</p>
                        
            <p class="margin-bottom-0 govuk-!-font-weight-bold data-check-no-top-border">Deduct from your benefits</p>
            <p class="margin-bottom-0">Would you like us to deduct?</p>
            <p class="margin-bottom-0">Which benefits?</p>
            <p class="margin-bottom-0">NIN</p>
            <p class="margin-bottom-0">&nbsp;</p>
                        
            <p class="margin-bottom-0 govuk-!-font-weight-bold data-check-no-top-border">Your outgoings</p>
            <p class="margin-bottom-0">Give details of monthly bills?</p>
            <p class="margin-bottom-0">&nbsp;</p>
                        
            <p class="margin-bottom-0 govuk-!-font-weight-bold data-check-no-top-border">Your monthly outgoings</p>
            <p class="margin-bottom-0">Accomodation</p>
            <p class="margin-bottom-0">Council tax</p>
            <p class="margin-bottom-0">Household bills</p>
            <p class="margin-bottom-0">Travel expenses</p>
            <p class="margin-bottom-0">Child maintenance</p>
            <p class="margin-bottom-0">Any other expenses?</p>
            <p class="margin-bottom-0">List of other expenses</p>
            <p class="margin-bottom-0">Amount of other expenses</p>
            <p class="margin-bottom-0">Total amount for all expenses</p>
            <p class="margin-bottom-0">&nbsp;</p>
                        
            <p class="margin-bottom-0 govuk-!-font-weight-bold data-check-no-top-border">Where are you?</p>
            <p class="margin-bottom-0">Have I made it to check your answers?</p>
            <p class="margin-bottom-0">&nbsp;</p>
                        
        </div>
        
        <!-- RIGHT COLUMN -->
        <div class="data-check-column data-check-right">
            <p class="margin-bottom-0 data-check-no-top-border">&nbsp;</p>
            <p class="margin-bottom-0">{{data['defendant-first-name']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['defendant-last-name']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['defendant-address-line-1']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['defendant-address-line-2']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['defendant-address-line-3']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['defendant-address-line-4']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['defendant-address-line-5']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['defendant-address-postcode']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['are-these-details-correct']}}&nbsp;</p>
            <p class="margin-bottom-0">&nbsp;</p>
            
            <p class="margin-bottom-0 data-check-no-top-border">&nbsp;</p>
            <p class="margin-bottom-0">{{data['new-defendant-first-name']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['new-defendant-last-name']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['new-defendant-address-line-1']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['new-defendant-address-line-2']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['new-defendant-address-line-3']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['new-defendant-address-line-4']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['new-defendant-address-line-5']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['new-defendant-address-postcode']}}&nbsp;</p>
            <p class="margin-bottom-0">&nbsp;</p>
            
            <p class="margin-bottom-0 data-check-no-top-border">&nbsp;</p>
            <p class="margin-bottom-0">{{data['dob-day']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['dob-month']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['dob-year']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['email-address']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['contact-number']}}&nbsp;</p>
            <p class="margin-bottom-0">&nbsp;</p>
            
            <p class="margin-bottom-0 data-check-no-top-border">&nbsp;</p>
            <p class="margin-bottom-0">{{data['do-you-have-a-dl']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['dl-number']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['license-type']}}&nbsp;</p>
            <p class="margin-bottom-0">&nbsp;</p>
            
            <p class="margin-bottom-0 data-check-no-top-border">&nbsp;</p>
            <p class="margin-bottom-0"><span id="offence-1-plea">{{data['offence-1-plea']}}</span>&nbsp;</p>
            <p class="margin-bottom-0"><span id="offence-2-plea">{{data['offence-2-plea']}}</span>&nbsp;</p>
            <p class="margin-bottom-0"><span id="offence-3-plea">{{data['offence-3-plea']}}</span>&nbsp;</p>
            <p class="margin-bottom-0">&nbsp;</p>

            <p class="margin-bottom-0 data-check-no-top-border">&nbsp;</p>
            <p class="margin-bottom-0"><span id="disagree">{{data['disagree']}}</span>&nbsp;</p>
            <p class="margin-bottom-0"><span id="disagree-detail">{{data['disagree-detail']}}</span>&nbsp;</p>
            <p class="margin-bottom-0">&nbsp;</p>

            <p class="margin-bottom-0 data-check-no-top-border">&nbsp;</p>
            <p class="margin-bottom-0"><span id="guilty-come-to-court">{{data['guilty-come-to-court']}}</span>&nbsp;</p>
            <p class="margin-bottom-0">&nbsp;</p>

            <p class="margin-bottom-0 data-check-no-top-border">&nbsp;</p>
            <p class="margin-bottom-0">{{data['offence-1-mitigation']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['offence-2-mitigation']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['offence-3-mitigation']}}&nbsp;</p>
            <p class="margin-bottom-0">&nbsp;</p>
            
            <p class="margin-bottom-0 data-check-no-top-border">&nbsp;</p>
            <p class="margin-bottom-0">{{data['do-you-want-to-bring-your-own-witness']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['witness-details']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['dates-to-avoid']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['which-dates-to-avoid']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['do-you-need-an-interpreter']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['which-language']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['do-you-wish-to-speak-welsh']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['access-needs']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['which-access-needs']}}&nbsp;</p>
            <p class="margin-bottom-0">&nbsp;</p>
            
            <p class="margin-bottom-0 data-check-no-top-border">&nbsp;</p>
            <p class="margin-bottom-0">{{data['give-us-income-or-benefits-details']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['do-you-have-any-court-fines']}}&nbsp;</p>
            <p class="margin-bottom-0">&nbsp;</p>
            
            <p class="margin-bottom-0 data-check-no-top-border">&nbsp;</p>
            <p class="margin-bottom-0">{{data['employment-status']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['other-employment-details']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['income-frequency']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['income-frequency-1-amount']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['income-frequency-2-amount']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['income-frequency-3-amount']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['income-frequency-4-amount']}}&nbsp;</p>
            <p class="margin-bottom-0">&nbsp;</p>
            
            <p class="margin-bottom-0 data-check-no-top-border">&nbsp;</p>
            <p class="margin-bottom-0">{{data['deduct-from-earnings']}}&nbsp;</p>
            <p class="margin-bottom-0">&nbsp;</p>
            
            <p class="margin-bottom-0 data-check-no-top-border">&nbsp;</p>
            <p class="margin-bottom-0">{{data['name-of-employer']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['employee-number']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['employer-address-line-1']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['employer-address-line-2']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['employer-address-line-3']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['employer-address-line-4']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['employer-address-line-5']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['employer-address-postcode']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['employers-telephone']}}&nbsp;</p>
            <p class="margin-bottom-0">&nbsp;</p>
            
            <p class="margin-bottom-0 data-check-no-top-border">&nbsp;</p>
            <p class="margin-bottom-0">{{data['are-you-claiming-benefits']}}&nbsp;</p>
            <p class="margin-bottom-0">&nbsp;</p>
            
            <p class="margin-bottom-0 data-check-no-top-border">&nbsp;</p>
            <p class="margin-bottom-0">{{data['deduct-from-benefits']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['benefits-being-claimed']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['nin']}}&nbsp;</p>
            <p class="margin-bottom-0">&nbsp;</p>
            
            <p class="margin-bottom-0 data-check-no-top-border">&nbsp;</p>
            <p class="margin-bottom-0">{{data['give-details-of-monthly-bills']}}&nbsp;</p>
            <p class="margin-bottom-0">&nbsp;</p>
            
            <p class="margin-bottom-0 data-check-no-top-border">&nbsp;</p>
            <p class="margin-bottom-0">{{data['accomodation']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['council-tax']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['household-bills']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['travel-expenses']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['child-maintenance']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['any-other-expenses']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['list-of-other-expenses']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['amount-of-other-expenses']}}&nbsp;</p>
            <p class="margin-bottom-0">{{data['total-amount-of-all-expenses']}}&nbsp;</p>
            <p class="margin-bottom-0">&nbsp;</p>
            
            <p class="margin-bottom-0 data-check-no-top-border">&nbsp;</p>
            <p class="margin-bottom-0">{{data['i-made-it-to-check-your-answers']}}&nbsp;</p>
            <p class="margin-bottom-0">&nbsp;</p>
                        
        </div>
        
    </div>
    
</div>
