
{% extends "layout.html" %}

{% block pageTitle %}
  Online Plea - Multiple offences prototype v2
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <h1 class="govuk-heading-xl">
            Online Plea - Multiple offences prototype v2
            <span class="govuk-caption-m margin-top-10">Using GOV.UK Prototype Kit {{releaseVersion}}</span>
        </h1>{{releaseVersion | log }}

        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
                This prototype is currently being built and is not yet ready for testing
            </strong>
        </div>
        
        <a href="map/start-page.html" role="button" draggable="false" class="govuk-button govuk-button--start margin-top-30">
            Start now
        </a>

    </div>
    
    <div class="govuk-grid-column-one-third">
        
        <div class="border-top-10-blue">
            <h3 class="govuk-heading-m">Prototype history</h3>
        </div>
        
        <h3 class="govuk-heading-s">11 June 2019</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>Further progress on check you answers logic to ensure the correct data is being displayed</li>
        </ul>
        
        <div style="opacity: .5">
            
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <h3 class="govuk-heading-s">10 June 2019</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>More has been done on check you answers</li>
            </ul>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <h3 class="govuk-heading-s">6 June 2019</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>The majority of form fields have been connected to data variables</li>
                <li>Money form fields now work as expected</li>
                <li>Check your answers is partially finished</li>
            </ul>
        
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <h3 class="govuk-heading-s">5 June 2019 (update 2)</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>started to add data and validation</li>
            </ul>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <h3 class="govuk-heading-s">5 June 2019 (update 1)</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>all pages have been created</li>
                <li>the check your answers page currently has no content</li>
                <li>there is no validation</li>
                <li>routing is a work in progress and not yet functional</li>
                <li>all pages can be viewed - click on 'Start now' button then click on the green button on each page thereafter to move from page-to-page in a logical order</li>
            </ul>
        

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <h3 class="govuk-heading-s">29 May 2019</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>initial framework created</li>
                <li>not all pages have been created</li>
                <li>prototype can't yet be viewed</li>
            </ul>
            
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        </div>
        
    </div>
</div>

{% endblock %}
