
{% extends "layout.html" %}

{% block pageTitle %}
  Online Plea - Multiple offences prototype v2
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <h1 class="govuk-heading-xl">
            Online Plea - Multiple offences prototype v2
            <span class="govuk-caption-m margin-top-10">Using GOV.UK Prototype Kit {{releaseVersion}}</span>
        </h1>{{releaseVersion | log }}

        <!--
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
                This prototype is currently being built and is not yet ready for testing
            </strong>
        </div>
        -->
        
        <a href="map/start-page.html" role="button" draggable="false" class="govuk-button govuk-button--start margin-top-30 margin-bottom-10">
            Start now
        </a>
        
        <div id="details">
            
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
                
            <h2 class="govuk-heading-m">Notes</h2>
            
            <h3 class="govuk-heading-s">Find your case</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>Working</li>
                <li>Enter anything for URN and postcode</li>
            </ul>

            <h3 class="govuk-heading-s">Check your name and address</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>Working</li>
            </ul>

            <h3 class="govuk-heading-s">Changes to your name and address</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>Working</li>
            </ul>

            <h3 class="govuk-heading-s">Enter other details</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>Working</li>
                <li>Must enter an email address</li>
            </ul>

            <h3 class="govuk-heading-s">Driving license number</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>Working</li>
            </ul>

            <h3 class="govuk-heading-s">Your plea</h3>
            <p class="govuk0-body">The following flows will work correctly:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>All guilty</li>
                <li>All not guilty</li>
            </ul>
            <p class="govuk0-body">Mixed pleas do not display correctly on the ‘Check your answers’ page.</p>

            <h3 class="govuk-heading-s">Guilty plea</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>Working</li>
            </ul>

            <h3 class="govuk-heading-s">Guilty plea mitigation</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>Working</li>
            </ul>

            <h3 class="govuk-heading-s">Not guilty plea</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>Working</li>
            </ul>

            <h3 class="govuk-heading-s">Your court hearing</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>Working</li>
            </ul>

            <h3 class="govuk-heading-s">Your finances</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>Working</li>
            </ul>

            <h3 class="govuk-heading-s">Your income</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>Working</li>
            </ul>

            <h3 class="govuk-heading-s">Deductions from earnings</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>Working</li>
            </ul>

            <h3 class="govuk-heading-s">Your employment</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>Working</li>
            </ul>

            <h3 class="govuk-heading-s">Your benefits</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>Working</li>
            </ul>

            <h3 class="govuk-heading-s">Deduct from your benefits</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>Working</li>
            </ul>

            <h3 class="govuk-heading-s">Your outgoings</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>Working</li>
            </ul>

            <h3 class="govuk-heading-s">Your monthly outgoings</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>Working</li>
            </ul>

            <h3 class="govuk-heading-s">Check your answers</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>The change links don’t always work as expected - They will go the correct screen, but the changes made may not reflect accurately on the ‘Check your answers’ page</li>
            </ul>
            
            <h3 class="govuk-heading-s">Form validation has not been implemented</h3>
            
        </div>

    </div>
    
    <div class="govuk-grid-column-one-third">
        
        <div class="border-top-10-blue">
            <h3 class="govuk-heading-m">Prototype history</h3>
        </div>
        
        <h3 class="govuk-heading-s">13 August 2019</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>Updated content to better align with the new SJPN100S+MC100S</li>
        </ul>
        
        <div style="opacity: .5">
            
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <h3 class="govuk-heading-s">17 July 2019</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>Added a working link to the Single Justice Procedure informatoin page on GOV.UK - to the start page, 'Your plea' page, guilty and hnot guilty plea pages</li>
                <li>Added "...is a 16-digit number that..." to the driving license page yes option</li>
                <li>Fixed the logic regarding the differences for coming to court for all guilty, all not guilty and mix of pleas</li>
            </ul>
        
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <h3 class="govuk-heading-s">16 July 2019</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>Removed the 'Evidence in the paper notice' question for guilty pleas</li>
                <li>Iterated the content in the 'Evidence in the paper notice' question based on user feedack</li>
                <li>Increased the character counts for text fields</li>
            </ul>
        
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <h3 class="govuk-heading-s">26 June 2019</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>Updates and bug fixes of routing for different scenarios</li>
                <li>Updates and bug fixes for the 'Check your answers' page</li>
            </ul>
            
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <h3 class="govuk-heading-s">25 June 2019</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>The protype is now in a working state</li>
                <li>The Check your answers page does not always work as expected</li>
                <li>See notes on this page for more info</li>
            </ul>
            
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <h3 class="govuk-heading-s">12 June 2019</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>Started working on the logic for returning to the check your answers page when clicking on the 'Change' links</li>
                <li>Continue working on check you answers</li>
            </ul>
        
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <h3 class="govuk-heading-s">11 June 2019</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>Further progress on check you answers logic to ensure the correct data is being displayed</li>
            </ul>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <h3 class="govuk-heading-s">10 June 2019</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>More has been done on check you answers</li>
            </ul>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <h3 class="govuk-heading-s">6 June 2019</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>The majority of form fields have been connected to data variables</li>
                <li>Money form fields now work as expected</li>
                <li>Check your answers is partially finished</li>
            </ul>
        
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <h3 class="govuk-heading-s">5 June 2019 (update 2)</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>started to add data and validation</li>
            </ul>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <h3 class="govuk-heading-s">5 June 2019 (update 1)</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>all pages have been created</li>
                <li>the check your answers page currently has no content</li>
                <li>there is no validation</li>
                <li>routing is a work in progress and not yet functional</li>
                <li>all pages can be viewed - click on 'Start now' button then click on the green button on each page thereafter to move from page-to-page in a logical order</li>
            </ul>
        

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <h3 class="govuk-heading-s">29 May 2019</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>initial framework created</li>
                <li>not all pages have been created</li>
                <li>prototype can't yet be viewed</li>
            </ul>
            
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        </div>
        
    </div>
</div>

{% endblock %}
