
{% extends "layout.html" %}

{% block pageTitle %}
  Online Plea - Multiple offences prototype v2
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Online Plea - Multiple offences prototype v2
        <span class="govuk-caption-m margin-top-10">Using GOV.UK Prototype Kit {{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}

      <h2 class="govuk-heading-m">Coming soon</h2>

      <p>This prototype is on it's way.</p>

    </div>
</div>

{% endblock %}
