
{% extends "layout.html" %}

{% block pageTitle %}
  Make a plea
{% endblock %}

{% block content %}

<script>
    window.onload = function() {
        
        /********** */
        /********** */
        /********** */
        /* DL CHECK */
        var do_you_have_a_dl = document.getElementById('do-you-have-a-dl').innerHTML;
        if (do_you_have_a_dl == "Yes") {
            document.getElementById('cya-dl-yes').style.display = "inline";
            document.getElementById('cya-dl-no').style.display = "none";
        } else if (do_you_have_a_dl == "No") {
            document.getElementById('cya-dl-yes').style.display = "none";
            document.getElementById('cya-dl-no').style.display = "inline";
        }
        
        /* **************** */
        /* **************** */
        /* **************** */
        /* MITIGATION CHECK */
        var offence_1_plea = document.getElementById('offence-1-plea').innerHTML;
        var offence_2_plea = document.getElementById('offence-2-plea').innerHTML;
        var offence_3_plea = document.getElementById('offence-3-plea').innerHTML;
        
        if (offence_1_plea == "Not guilty") {
            document.getElementById('offence-1-mitigation-guilty').style.display = "none";
            document.getElementById('offence-1-mitigation-not-guilty').style.display = "inline";
        } else if (offence_1_plea == "Guilty") {
            document.getElementById('offence-1-mitigation-guilty').style.display = "inline";
            document.getElementById('offence-1-mitigation-not-guilty').style.display = "none";
        }

        if (offence_2_plea == "Not guilty") {
            document.getElementById('offence-2-mitigation-guilty').style.display = "none";
            document.getElementById('offence-2-mitigation-not-guilty').style.display = "inline";
        } else if (offence_2_plea == "Guilty") {
            document.getElementById('offence-2-mitigation-guilty').style.display = "inline";
            document.getElementById('offence-2-mitigation-not-guilty').style.display = "none";
        }

        if (offence_3_plea == "Not guilty") {
            document.getElementById('offence-3-mitigation-guilty').style.display = "none";
            document.getElementById('offence-3-mitigation-not-guilty').style.display = "inline";
        } else if (offence_3_plea_plea == "Guilty") {
            document.getElementById('offence-3-mitigation-guilty').style.display = "inline";
            document.getElementById('offence-3-mitigation-not-guilty').style.display = "none";
        }
        
    }
</script>

{% include "includes/phase-banner.html" %}
{% include "includes/breadcrumb_back.html" %}
{% include "includes/data-check.html" %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full-width">

        <h1 class="govuk-heading-xl">
            Check your answers
        </h1>
        
        <!-- ------------ -->
        <!-- ------------ -->
        <!-- ------------ -->
        <!-- YOUR DETAILS -->
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">Your details</h2>
            </div>
            <div class="govuk-grid-column-one-third">
                <p class="govuk-body" style="text-align: right">
                    <a href="/map/your_details">
                        Change
                    </a>
                </p>
            </div>
        </div>
        
        <!-- DEFENDANT NAME -->
        <div id="cya-name">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <p class="govuk-body margin-bottom-0">
                        Name
                    </p>
                </div>
                <div class="govuk-grid-column-two-thirds">
                    <p class="margin-bottom-0">
                        {{data['defendant-first-name']}} <span style="text-transform: uppercase">{{data['defendant-last-name']}}</span>
                    </p>
                </div>
            </div>
            <div class="margin-top-10 margin-bottom-15">
                <hr class="govuk-section-break govuk-section-break--visible">
            </div>
        </div>
        
        <!-- DEFENDANT ADDRESS -->
        <div id="cya-address">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <p class="govuk-body margin-bottom-0">
                        Address
                    </p>
                </div>
                <div class="govuk-grid-column-two-thirds">
                    <p class="margin-bottom-0">
                        {{data['defendant-address-line-1']}}<br>
                        {{data['defendant-address-line-2']}}<br>
                        {{data['defendant-address-line-3']}}<br>
                        {{data['defendant-address-line-4']}}<br>
                        {{data['defendant-address-line-5']}}<br>
                        {{data['defendant-address-postcode']}}<br>
                    </p>
                </div>
            </div>
            <div class="margin-top-10 margin-bottom-15">
                <hr class="govuk-section-break govuk-section-break--visible">
            </div>
        </div>
        
        <!-- ------------ -->
        <!-- ------------ -->
        <!-- ------------ -->
        <!-- OTHER DETAILS -->
        <div class="govuk-grid-row margin-top-60">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">Other details</h2>
            </div>
            <div class="govuk-grid-column-one-third">
                <p class="govuk-body" style="text-align: right">
                    <a href="/map/your_details">
                        Change
                    </a>
                </p>
            </div>
        </div>
        
        <!-- DEFENDANT DOB -->
        <div id="cya-dob">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <p class="govuk-body margin-bottom-0">
                        Date of birth
                    </p>
                </div>
                <div class="govuk-grid-column-two-thirds">
                    <p class="margin-bottom-0">
                        {{data['dob-day']}} {{data['dob-month']}} {{data['dob-year']}} 
                    </p>
                </div>
            </div>
            <div class="margin-top-10 margin-bottom-15">
                <hr class="govuk-section-break govuk-section-break--visible">
            </div>
        </div>
        
        <!-- EMAIL ADDRESS -->
        <div id="cya-email-address">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <p class="govuk-body margin-bottom-0">
                        Email address
                    </p>
                </div>
                <div class="govuk-grid-column-two-thirds">
                    <p class="margin-bottom-0">
                        {{data['email-address']}} 
                    </p>
                </div>
            </div>
            <div class="margin-top-10 margin-bottom-15">
                <hr class="govuk-section-break govuk-section-break--visible">
            </div>
        </div>
        
        <!-- CONTACT NUMBER -->
        <div id="cya-contact-number">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <p class="govuk-body margin-bottom-0">
                        Contact number
                    </p>
                </div>
                <div class="govuk-grid-column-two-thirds">
                    <p class="margin-bottom-0">
                        {{data['contact-number']}} 
                    </p>
                </div>
            </div>
            <div class="margin-top-10 margin-bottom-15">
                <hr class="govuk-section-break govuk-section-break--visible">
            </div>
        </div>
        
        <!-- ---------------------- -->
        <!-- ---------------------- -->
        <!-- ---------------------- -->
        <!-- DRIVING LICENSE NUMBER -->
        <div class="govuk-grid-row margin-top-60">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">Driving license number</h2>
            </div>
            <div class="govuk-grid-column-one-third">
                <p class="govuk-body" style="text-align: right">
                    <a href="/map/your_details">
                        Change
                    </a>
                </p>
            </div>
        </div>
        
        <!-- DO YOU HAVE A UK DRIVING LICENSE? -->
        <div id="">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <p class="govuk-body margin-bottom-0">
                        Do you have a UK driving license?
                    </p>
                </div>
                <div class="govuk-grid-column-two-thirds">
                    <p class="margin-bottom-0">
                        <span id="do-you-have-a-dl">{{data['do-you-have-a-dl']}}</span>
                    </p>
                </div>
            </div>
            <div class="margin-top-10 margin-bottom-15">
                <hr class="govuk-section-break govuk-section-break--visible">
            </div>
        </div>

        <!-- YOUR UK DRIVING LICENSE NUMBER -->
        <div id="cya-dl-yes">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <p class="govuk-body margin-bottom-0">
                        Your UK driving license number
                    </p>
                </div>
                <div class="govuk-grid-column-two-thirds">
                    <p class="margin-bottom-0">
                        {{data['dl-number']}} 
                    </p>
                </div>
            </div>
            <div class="margin-top-10 margin-bottom-15">
                <hr class="govuk-section-break govuk-section-break--visible">
            </div>
        </div>

        <!-- IF NO UK LICENSE WHAT TYPE IS IT? -->
        <div id="cya-dl-no">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <p class="govuk-body margin-bottom-0">
                        Tell us what kind of drivers license you hold
                    </p>
                </div>
                <div class="govuk-grid-column-two-thirds">
                    <p class="margin-bottom-0">
                        {{data['license-type']}} 
                    </p>
                </div>
            </div>
            <div class="margin-top-10 margin-bottom-15">
                <hr class="govuk-section-break govuk-section-break--visible">
            </div>
        </div>

        <!-- --------- -->
        <!-- --------- -->
        <!-- --------- -->
        <!-- OFFENCE 1 -->
        <div class="govuk-grid-row margin-top-60">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m margin-bottom-5">Offence 1 of 3</h2>
                <h3 class="govuk-heading-s">{{data['offence-1-title']}}</h3>
            </div>
        </div>
        
        <!-- --------- -->
        <!-- YOUR PLEA -->
        <div class="govuk-grid-row ">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-s margin-bottom-5">Your plea</h2>
            </div>
            <div class="govuk-grid-column-one-third">
                <p class="govuk-body" style="text-align: right">
                    <a href="/map/your_details">
                        Change
                    </a>
                </p>
            </div>
        </div>
                
                <!-- HOW DO YOU PLEAD? -->
                <div id="cya-offence-1-plea">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-third">
                            <p class="govuk-body margin-bottom-0">
                                How do you plead?
                            </p>
                        </div>
                        <div class="govuk-grid-column-two-thirds">
                            <p class="margin-bottom-0">
                                {{data['offence-1-plea']}} 
                            </p>
                        </div>
                    </div>
                    <div class="margin-top-10 margin-bottom-30">
                        <hr class="govuk-section-break govuk-section-break--visible">
                    </div>
                </div>

        <!-- -------------------------------- -->
        <!-- WOULD YOU LIKE TO COME TO COURT? -->
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-s margin-bottom-5">Would you like to come to court?</h2>
            </div>
            <div class="govuk-grid-column-one-third">
                <p class="govuk-body" style="text-align: right">
                    <a href="/map/your_details">
                        Change
                    </a>
                </p>
            </div>
        </div>
                
                <!-- COME TO COURT -->
                <div id="cya-offence-1-plea">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-third">
                            <p class="govuk-body margin-bottom-0">
                                Come to court
                            </p>
                        </div>
                        <div class="govuk-grid-column-two-thirds">
                            <p class="margin-bottom-0">
                                {{data['guilty-come-to-court']}} 
                            </p>
                        </div>
                    </div>
                    <div class="margin-top-10 margin-bottom-30">
                        <hr class="govuk-section-break govuk-section-break--visible">
                    </div>
                </div>

        <!-- ---------- -->
        <!-- MITIGATION -->
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-s margin-bottom-5">
                    <span id="offence-1-mitigation-guilty">Guilty plea mitigation</span> <span id="offence-1-mitigation-not-guilty">Why you think your not guilty</span>
                </h2>
            </div>
            <div class="govuk-grid-column-one-third">
                <p class="govuk-body" style="text-align: right">
                    <a href="/map/your_details">
                        Change
                    </a>
                </p>
            </div>
        </div>
        
                <!-- MITIGATION -->
                <div id="cya-offence-1-mitigation">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-third">
                            <p class="govuk-body margin-bottom-0">Is there anything you would like to tell the court?</p>
                        </div>
                        <div class="govuk-grid-column-two-thirds">
                            <p class="margin-bottom-0">
                                {{data['offence-1-mitigation']}} 
                            </p>
                        </div>
                    </div>
                    <div class="margin-top-10 margin-bottom-15">
                        <hr class="govuk-section-break govuk-section-break--visible">
                    </div>
                </div>

        <!-- --------- -->
        <!-- --------- -->
        <!-- --------- -->
        <!-- OFFENCE 2 -->
        <div class="govuk-grid-row margin-top-60">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m margin-bottom-5">Offence 2 of 3</h2>
                <h3 class="govuk-heading-s">{{data['offence-2-title']}}</h3>
            </div>
        </div>
        
        <!-- --------- -->
        <!-- YOUR PLEA -->
        <div class="govuk-grid-row ">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-s margin-bottom-5">Your plea</h2>
            </div>
            <div class="govuk-grid-column-one-third">
                <p class="govuk-body" style="text-align: right">
                    <a href="/map/your_details">
                        Change
                    </a>
                </p>
            </div>
        </div>
                
                <!-- HOW DO YOU PLEAD? -->
                <div id="cya-offence-2-plea">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-third">
                            <p class="govuk-body margin-bottom-0">
                                How do you plead?
                            </p>
                        </div>
                        <div class="govuk-grid-column-two-thirds">
                            <p class="margin-bottom-0">
                                {{data['offence-2-plea']}} 
                            </p>
                        </div>
                    </div>
                    <div class="margin-top-10 margin-bottom-30">
                        <hr class="govuk-section-break govuk-section-break--visible">
                    </div>
                </div>

        <!-- -------------------------------- -->
        <!-- WOULD YOU LIKE TO COME TO COURT? -->
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-s margin-bottom-5">Would you like to come to court?</h2>
            </div>
            <div class="govuk-grid-column-one-third">
                <p class="govuk-body" style="text-align: right">
                    <a href="/map/your_details">
                        Change
                    </a>
                </p>
            </div>
        </div>
                
                <!-- COME TO COURT -->
                <div id="cya-offence-2-plea">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-third">
                            <p class="govuk-body margin-bottom-0">
                                Come to court
                            </p>
                        </div>
                        <div class="govuk-grid-column-two-thirds">
                            <p class="margin-bottom-0">
                                {{data['guilty-come-to-court']}} 
                            </p>
                        </div>
                    </div>
                    <div class="margin-top-10 margin-bottom-30">
                        <hr class="govuk-section-break govuk-section-break--visible">
                    </div>
                </div>

        <!-- ---------- -->
        <!-- MITIGATION -->
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-s margin-bottom-5">
                    <span id="offence-2-mitigation-guilty">Guilty plea mitigation</span> <span id="offence-2-mitigation-not-guilty">Why you think your not guilty</span>
                </h2>
            </div>
            <div class="govuk-grid-column-one-third">
                <p class="govuk-body" style="text-align: right">
                    <a href="/map/your_details">
                        Change
                    </a>
                </p>
            </div>
        </div>
        
                <!-- MITIGATION -->
                <div id="cya-offence-2-mitigation">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-third">
                            <p class="govuk-body margin-bottom-0">Is there anything you would like to tell the court?</p>
                        </div>
                        <div class="govuk-grid-column-two-thirds">
                            <p class="margin-bottom-0">
                                {{data['offence-2-mitigation']}} 
                            </p>
                        </div>
                    </div>
                    <div class="margin-top-10 margin-bottom-15">
                        <hr class="govuk-section-break govuk-section-break--visible">
                    </div>
                </div>
        
        <!-- --------- -->
        <!-- --------- -->
        <!-- --------- -->
        <!-- OFFENCE 3 -->
        <div class="govuk-grid-row margin-top-60">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m margin-bottom-5">Offence 3 of 3</h2>
                <h3 class="govuk-heading-s">{{data['offence-3-title']}}</h3>
            </div>
        </div>
        
        <!-- --------- -->
        <!-- YOUR PLEA -->
        <div class="govuk-grid-row ">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-s margin-bottom-5">Your plea</h2>
            </div>
            <div class="govuk-grid-column-one-third">
                <p class="govuk-body" style="text-align: right">
                    <a href="/map/your_details">
                        Change
                    </a>
                </p>
            </div>
        </div>
                
                <!-- HOW DO YOU PLEAD? -->
                <div id="cya-offence-2-plea">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-third">
                            <p class="govuk-body margin-bottom-0">
                                How do you plead?
                            </p>
                        </div>
                        <div class="govuk-grid-column-two-thirds">
                            <p class="margin-bottom-0">
                                {{data['offence-3-plea']}} 
                            </p>
                        </div>
                    </div>
                    <div class="margin-top-10 margin-bottom-30">
                        <hr class="govuk-section-break govuk-section-break--visible">
                    </div>
                </div>

        <!-- -------------------------------- -->
        <!-- WOULD YOU LIKE TO COME TO COURT? -->
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-s margin-bottom-5">Would you like to come to court?</h2>
            </div>
            <div class="govuk-grid-column-one-third">
                <p class="govuk-body" style="text-align: right">
                    <a href="/map/your_details">
                        Change
                    </a>
                </p>
            </div>
        </div>
                
                <!-- COME TO COURT -->
                <div id="cya-offence-3-plea">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-third">
                            <p class="govuk-body margin-bottom-0">
                                Come to court
                            </p>
                        </div>
                        <div class="govuk-grid-column-two-thirds">
                            <p class="margin-bottom-0">
                                {{data['guilty-come-to-court']}} 
                            </p>
                        </div>
                    </div>
                    <div class="margin-top-10 margin-bottom-30">
                        <hr class="govuk-section-break govuk-section-break--visible">
                    </div>
                </div>

        <!-- ---------- -->
        <!-- MITIGATION -->
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-s margin-bottom-5">
                    <span id="offence-3-mitigation-guilty">Guilty plea mitigation</span> <span id="offence-3-mitigation-not-guilty">Why you think your not guilty</span>
                </h2>
            </div>
            <div class="govuk-grid-column-one-third">
                <p class="govuk-body" style="text-align: right">
                    <a href="/map/your_details">
                        Change
                    </a>
                </p>
            </div>
        </div>
        
                <!-- MITIGATION -->
                <div id="cya-offence-3-mitigation">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-third">
                            <p class="govuk-body margin-bottom-0">Is there anything you would like to tell the court?</p>
                        </div>
                        <div class="govuk-grid-column-two-thirds">
                            <p class="margin-bottom-0">
                                {{data['offence-3-mitigation']}} 
                            </p>
                        </div>
                    </div>
                    <div class="margin-top-10 margin-bottom-15">
                        <hr class="govuk-section-break govuk-section-break--visible">
                    </div>
                </div>

        <!-- ------------------ -->
        <!-- ------------------ -->
        <!-- ------------------ -->
        <!-- YOUR COURT HEARING -->
        <div class="govuk-grid-row margin-top-60">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">Your court hearing</h2>
            </div>
            <div class="govuk-grid-column-one-third">
                <p class="govuk-body" style="text-align: right">
                    <a href="/map/your_details">
                        Change
                    </a>
                </p>
            </div>
        </div>
        
        <!-- DO YOU WANT TO BRING YOUR OWN WITNESSES? -->
        <div id="">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <p class="govuk-body margin-bottom-0">
                        Do you want to bring your own witnesses?
                    </p>
                </div>
                <div class="govuk-grid-column-two-thirds">
                    <p class="margin-bottom-0">
                        <span id="do-you-have-a-dl">{{data['xxx']}}</span>
                    </p>
                </div>
            </div>
            <div class="margin-top-10 margin-bottom-15">
                <hr class="govuk-section-break govuk-section-break--visible">
            </div>
        </div>
        
        <!-- YOUR WITNESS DETAILS -->
        <div id="">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <p class="govuk-body margin-bottom-0">
                        Your witness details
                    </p>
                </div>
                <div class="govuk-grid-column-two-thirds">
                    <p class="margin-bottom-0">
                        <span id="do-you-have-a-dl">{{data['xxx']}}</span>
                    </p>
                </div>
            </div>
            <div class="margin-top-10 margin-bottom-15">
                <hr class="govuk-section-break govuk-section-break--visible">
                <hr class="govuk-section-break govuk-section-break--visible">
            </div>
        </div>

        <!-- PROSECUTION WITNESS STATEMENTS -->
        <div id="">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <p class="govuk-body margin-bottom-0">
                        Do you agree with the prosecution witness statements agains you?
                    </p>
                </div>
                <div class="govuk-grid-column-two-thirds">
                    <p class="margin-bottom-0">
                        <span id="do-you-have-a-dl">{{data['xxx']}}</span>
                    </p>
                </div>
            </div>
            <div class="margin-top-10 margin-bottom-15">
                <hr class="govuk-section-break govuk-section-break--visible">
            </div>
        </div>

        <!-- PROSECUTION WITNESS STATEMENTS -->
        <div id="">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <p class="govuk-body margin-bottom-0">
                        Prosecution witness names and why you want them to attend
                    </p>
                </div>
                <div class="govuk-grid-column-two-thirds">
                    <p class="margin-bottom-0">
                        <span id="do-you-have-a-dl">{{data['xxx']}}</span>
                    </p>
                </div>
            </div>
            <div class="margin-top-10 margin-bottom-15">
                <hr class="govuk-section-break govuk-section-break--visible">
            </div>
        </div>

        <!-- ----------- -->
        <!-- COURT DATES -->
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-s margin-top-15 margin-bottom-15">
                    Court dates
                </h2>
            </div>
        </div>
        
                <!-- DATES TO AVOID -->
                <div id="cya-offence-3-mitigation">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-third">
                            <p class="govuk-body margin-bottom-0">Are there any dates you or your witnesses can’t attend court?</p>
                        </div>
                        <div class="govuk-grid-column-two-thirds">
                            <p class="margin-bottom-0">
                                {{data['xxx']}} 
                            </p>
                        </div>
                    </div>
                    <div class="margin-top-10 margin-bottom-15">
                        <hr class="govuk-section-break govuk-section-break--visible">
                    </div>
                </div>

                <!-- DATES TO AVOID -->
                <div id="cya-offence-3-mitigation">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-third">
                            <p class="govuk-body margin-bottom-0">Dates you  or your witnesses can’t attend court?</p>
                        </div>
                        <div class="govuk-grid-column-two-thirds">
                            <p class="margin-bottom-0">
                                {{data['xxx']}} 
                            </p>
                        </div>
                    </div>
                    <div class="margin-top-10 margin-bottom-15">
                        <hr class="govuk-section-break govuk-section-break--visible">
                    </div>
                </div>

        <!-- --------- -->
        <!-- LANGUAGES -->
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-s margin-top-15 margin-bottom-15">
                    Languages
                </h2>
            </div>
        </div>
        
                <!-- INTERPRETER REQUIRED? -->
                <div id="cya-offence-3-mitigation">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-third">
                            <p class="govuk-body margin-bottom-0">Do you need an interpreter in court?</p>
                        </div>
                        <div class="govuk-grid-column-two-thirds">
                            <p class="margin-bottom-0">
                                {{data['xxx']}} 
                            </p>
                        </div>
                    </div>
                    <div class="margin-top-10 margin-bottom-15">
                        <hr class="govuk-section-break govuk-section-break--visible">
                    </div>
                </div>

                <!-- WHICH LANGUAGE? -->
                <div id="cya-offence-3-mitigation">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-third">
                            <p class="govuk-body margin-bottom-0">Which language?</p>
                        </div>
                        <div class="govuk-grid-column-two-thirds">
                            <p class="margin-bottom-0">
                                {{data['xxx']}} 
                            </p>
                        </div>
                    </div>
                    <div class="margin-top-10 margin-bottom-15">
                        <hr class="govuk-section-break govuk-section-break--visible">
                    </div>
                </div>

                <!-- SPEAK WELSH? -->
                <div id="cya-offence-3-mitigation">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-third">
                            <p class="govuk-body margin-bottom-0">Do you wish to speak Welsh in court?</p>
                        </div>
                        <div class="govuk-grid-column-two-thirds">
                            <p class="margin-bottom-0">
                                {{data['xxx']}} 
                            </p>
                        </div>
                    </div>
                    <div class="margin-top-10 margin-bottom-15">
                        <hr class="govuk-section-break govuk-section-break--visible">
                    </div>
                </div>

        <!-- ---------------------------- -->
        <!-- DISABILITIES OR ACCESS NEEDS -->
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-s margin-top-15 margin-bottom-15">
                    Disabilities or access needs
                </h2>
            </div>
        </div>
        
                <!-- DO YOU HAVE A DISABILITY NEED? -->
                <div id="cya-offence-3-mitigation">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-third">
                            <p class="govuk-body margin-bottom-0">Do you have a disability or access need you want the court to know about?</p>
                        </div>
                        <div class="govuk-grid-column-two-thirds">
                            <p class="margin-bottom-0">
                                {{data['xxx']}} 
                            </p>
                        </div>
                    </div>
                    <div class="margin-top-10 margin-bottom-15">
                        <hr class="govuk-section-break govuk-section-break--visible">
                    </div>
                </div>

                <!-- WHICH DISABILITY NEED? -->
                <div id="cya-offence-3-mitigation">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-third">
                            <p class="govuk-body margin-bottom-0">Tell the court about your disability or access needs</p>
                        </div>
                        <div class="govuk-grid-column-two-thirds">
                            <p class="margin-bottom-0">
                                {{data['xxx']}} 
                            </p>
                        </div>
                    </div>
                    <div class="margin-top-10 margin-bottom-15">
                        <hr class="govuk-section-break govuk-section-break--visible">
                    </div>
                </div>


        <!-- ------------- -->
        <!-- ------------- -->
        <!-- ------------- -->
        <!-- YOUR FINANCES -->
        <div class="govuk-grid-row margin-top-60">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">Your finances</h2>
            </div>
            <div class="govuk-grid-column-one-third">
                <p class="govuk-body" style="text-align: right">
                    <a href="/map/your_details">
                        Change
                    </a>
                </p>
            </div>
        </div>
        
        <!-- -------------------- -->
        <!-- GIVE INCOME DETAILS? -->
        <div id="cya-offence-3-mitigation">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <p class="govuk-body margin-bottom-0">Would you like to give us your income or benefits details so they can be taken into account?</p>
                </div>
                <div class="govuk-grid-column-two-thirds">
                    <p class="margin-bottom-0">
                        {{data['xxx']}} 
                    </p>
                </div>
            </div>
            <div class="margin-top-10 margin-bottom-15">
                <hr class="govuk-section-break govuk-section-break--visible">
            </div>
        </div>

        <!-- ----------- -->
        <!-- YOUR INCOME -->
        <div class="govuk-grid-row margin-top-60">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-s">Your income</h2>
            </div>
            <div class="govuk-grid-column-one-third">
                <p class="govuk-body" style="text-align: right">
                    <a href="/map/your_details">
                        Change
                    </a>
                </p>
            </div>
        </div>
        
            <!-- ---------------------- -->
            <!-- YOUR EMPLOYMENT STATUS -->
            <div id="cya-offence-3-mitigation">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-third">
                        <p class="govuk-body margin-bottom-0">Your employment status</p>
                    </div>
                    <div class="govuk-grid-column-two-thirds">
                        <p class="margin-bottom-0">
                            {{data['xxx']}} 
                        </p>
                    </div>
                </div>
                <div class="margin-top-10 margin-bottom-15">
                    <hr class="govuk-section-break govuk-section-break--visible">
                </div>
            </div>

            <!-- ----------- -->
            <!-- YOUR INCOME -->
            <div id="cya-offence-3-mitigation">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-third">
                        <p class="govuk-body margin-bottom-0">Your income</p>
                    </div>
                    <div class="govuk-grid-column-two-thirds">
                        <p class="margin-bottom-0">
                            {{data['xxx']}} 
                        </p>
                    </div>
                </div>
                <div class="margin-top-10 margin-bottom-15">
                    <hr class="govuk-section-break govuk-section-break--visible">
                </div>
            </div>

        <!-- ------------------------ -->
        <!-- DEDUCTIONS FROM EARNINGS -->
        <div class="govuk-grid-row margin-top-60">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-s">Deductions from earnings</h2>
            </div>
            <div class="govuk-grid-column-one-third">
                <p class="govuk-body" style="text-align: right">
                    <a href="/map/your_details">
                        Change
                    </a>
                </p>
            </div>
        </div>
        
            <!-- ------------------------ -->
            <!-- DEDUCTIONS FROM EARNINGS -->
            <div id="cya-offence-3-mitigation">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-third">
                        <p class="govuk-body margin-bottom-0">If you need to pay a penalty, would you like us to deduct it from your earnings?</p>
                    </div>
                    <div class="govuk-grid-column-two-thirds">
                        <p class="margin-bottom-0">
                            {{data['xxx']}} 
                        </p>
                    </div>
                </div>
                <div class="margin-top-10 margin-bottom-15">
                    <hr class="govuk-section-break govuk-section-break--visible">
                </div>
            </div>

        <!-- ---------------- -->
        <!-- YOUR EMPLOYEMENT -->
        <div class="govuk-grid-row margin-top-60">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-s">Your employment</h2>
            </div>
            <div class="govuk-grid-column-one-third">
                <p class="govuk-body" style="text-align: right">
                    <a href="/map/your_details">
                        Change
                    </a>
                </p>
            </div>
        </div>
        
            <!-- ------------ -->
            <!-- COMPANY NAME -->
            <div id="cya-offence-3-mitigation">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-third">
                        <p class="govuk-body margin-bottom-0">Which company do you work for?</p>
                    </div>
                    <div class="govuk-grid-column-two-thirds">
                        <p class="margin-bottom-0">
                            {{data['xxx']}} 
                        </p>
                    </div>
                </div>
                <div class="margin-top-10 margin-bottom-15">
                    <hr class="govuk-section-break govuk-section-break--visible">
                </div>
            </div>

            <!-- ------------------ -->
            <!-- EMPLOYEE REFERENCE -->
            <div id="cya-offence-3-mitigation">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-third">
                        <p class="govuk-body margin-bottom-0">Employee reference</p>
                    </div>
                    <div class="govuk-grid-column-two-thirds">
                        <p class="margin-bottom-0">
                            {{data['xxx']}} 
                        </p>
                    </div>
                </div>
                <div class="margin-top-10 margin-bottom-15">
                    <hr class="govuk-section-break govuk-section-break--visible">
                </div>
            </div>

            <!-- ----------------- -->
            <!-- EMPLOYER'S ADDRESS -->
            <div id="cya-offence-3-mitigation">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-third">
                        <p class="govuk-body margin-bottom-0">Employer's address</p>
                    </div>
                    <div class="govuk-grid-column-two-thirds">
                        <p class="margin-bottom-0">
                            {{data['xxx']}} 
                        </p>
                    </div>
                </div>
                <div class="margin-top-10 margin-bottom-15">
                    <hr class="govuk-section-break govuk-section-break--visible">
                </div>
            </div>

            <!-- ----------------- -->
            <!-- EMPLOYER'S TELEPHONE -->
            <div id="cya-offence-3-mitigation">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-third">
                        <p class="govuk-body margin-bottom-0">Employer's telephone</p>
                    </div>
                    <div class="govuk-grid-column-two-thirds">
                        <p class="margin-bottom-0">
                            {{data['xxx']}} 
                        </p>
                    </div>
                </div>
                <div class="margin-top-10 margin-bottom-15">
                    <hr class="govuk-section-break govuk-section-break--visible">
                </div>
            </div>

        <!-- ------------- -->
        <!-- YOUR BENEFITS -->
        <div class="govuk-grid-row margin-top-60">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">Your benefits</h2>
            </div>
            <div class="govuk-grid-column-one-third">
                <p class="govuk-body" style="text-align: right">
                    <a href="/map/your_details">
                        Change
                    </a>
                </p>
            </div>
        </div>
        
            <!-- -------------------------- -->
            <!-- ARE YOU CLAIMING BENEFTIS? -->
            <div id="cya-offence-3-mitigation">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-third">
                        <p class="govuk-body margin-bottom-0">Are you claiming any benefits?</p>
                    </div>
                    <div class="govuk-grid-column-two-thirds">
                        <p class="margin-bottom-0">
                            {{data['xxx']}} 
                        </p>
                    </div>
                </div>
                <div class="margin-top-10 margin-bottom-15">
                    <hr class="govuk-section-break govuk-section-break--visible">
                </div>
            </div>

            <!-- ------------------------ -->
            <!-- DEDUCT FROM YOUR BENEFTS -->
            <div class="govuk-grid-row margin-top-60">
                <div class="govuk-grid-column-two-thirds">
                    <h2 class="govuk-heading-s">Deduct from your benefits</h2>
                </div>
                <div class="govuk-grid-column-one-third">
                    <p class="govuk-body" style="text-align: right">
                        <a href="/map/your_details">
                            Change
                        </a>
                    </p>
                </div>
            </div>

                <!-- --------------------- -->
                <!-- DEDUCT FROM BENEFITS? -->
                <div id="cya-offence-3-mitigation">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-third">
                            <p class="govuk-body margin-bottom-0">If you need to pay a penalty, would you like us to deduct it from your benefits?</p>
                        </div>
                        <div class="govuk-grid-column-two-thirds">
                            <p class="margin-bottom-0">
                                {{data['xxx']}} 
                            </p>
                        </div>
                    </div>
                    <div class="margin-top-10 margin-bottom-15">
                        <hr class="govuk-section-break govuk-section-break--visible">
                    </div>
                </div>

                <!-- -------------------------------- -->
                <!-- WHICH BENEFITS ARE YOU CLAIMING? -->
                <div id="cya-offence-3-mitigation">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-third">
                            <p class="govuk-body margin-bottom-0">Which benefits are you claiming?</p>
                        </div>
                        <div class="govuk-grid-column-two-thirds">
                            <p class="margin-bottom-0">
                                {{data['xxx']}} 
                            </p>
                        </div>
                    </div>
                    <div class="margin-top-10 margin-bottom-15">
                        <hr class="govuk-section-break govuk-section-break--visible">
                    </div>
                </div>

                <!-- ------------------------- -->
                <!-- NATIONAL INSURANCE NUMBER -->
                <div id="cya-offence-3-mitigation">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-third">
                            <p class="govuk-body margin-bottom-0">National Insurance number</p>
                        </div>
                        <div class="govuk-grid-column-two-thirds">
                            <p class="margin-bottom-0">
                                {{data['xxx']}} 
                            </p>
                        </div>
                    </div>
                    <div class="margin-top-10 margin-bottom-15">
                        <hr class="govuk-section-break govuk-section-break--visible">
                    </div>
                </div>

        <!-- -------------- -->
        <!-- YOUR OUTGOINGS -->
        <div class="govuk-grid-row margin-top-60">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">Your outgoings</h2>
            </div>
            <div class="govuk-grid-column-one-third">
                <p class="govuk-body" style="text-align: right">
                    <a href="/map/your_details">
                        Change
                    </a>
                </p>
            </div>
        </div>
        
            <!-- ----------------------------- -->
            <!-- GIVE DETAILS OF MONTHLY BILLS -->
            <div id="cya-offence-3-mitigation">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-third">
                        <p class="govuk-body margin-bottom-0">Would you like to give details of your monthly bills?</p>
                    </div>
                    <div class="govuk-grid-column-two-thirds">
                        <p class="margin-bottom-0">
                            {{data['xxx']}} 
                        </p>
                    </div>
                </div>
                <div class="margin-top-10 margin-bottom-15">
                    <hr class="govuk-section-break govuk-section-break--visible">
                </div>
            </div>

            <!-- ---------------------- -->
            <!-- YOUR MONTHLY OUTGOINGS -->
            <div class="govuk-grid-row margin-top-60">
                <div class="govuk-grid-column-two-thirds">
                    <h2 class="govuk-heading-s">Your monthly outgoings</h2>
                </div>
                <div class="govuk-grid-column-one-third">
                    <p class="govuk-body" style="text-align: right">
                        <a href="/map/your_details">
                            Change
                        </a>
                    </p>
                </div>
            </div>

                <!-- ------------ -->
                <!-- ACCOMODATION -->
                <div id="cya-offence-3-mitigation">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-third">
                            <p class="govuk-body margin-bottom-0">Accomodation</p>
                        </div>
                        <div class="govuk-grid-column-two-thirds">
                            <p class="margin-bottom-0">
                                {{data['xxx']}} 
                            </p>
                        </div>
                    </div>
                    <div class="margin-top-10 margin-bottom-15">
                        <hr class="govuk-section-break govuk-section-break--visible">
                    </div>
                </div>

                <!-- ----------- -->
                <!-- COUNCIL TAX -->
                <div id="cya-offence-3-mitigation">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-third">
                            <p class="govuk-body margin-bottom-0">Council tax</p>
                        </div>
                        <div class="govuk-grid-column-two-thirds">
                            <p class="margin-bottom-0">
                                {{data['xxx']}} 
                            </p>
                        </div>
                    </div>
                    <div class="margin-top-10 margin-bottom-15">
                        <hr class="govuk-section-break govuk-section-break--visible">
                    </div>
                </div>

                <!-- --------------- -->
                <!-- Household bills -->
                <div id="cya-offence-3-mitigation">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-third">
                            <p class="govuk-body margin-bottom-0">Household bills</p>
                        </div>
                        <div class="govuk-grid-column-two-thirds">
                            <p class="margin-bottom-0">
                                {{data['xxx']}} 
                            </p>
                        </div>
                    </div>
                    <div class="margin-top-10 margin-bottom-15">
                        <hr class="govuk-section-break govuk-section-break--visible">
                    </div>
                </div>

                <!-- --------------- -->
                <!-- TRAVEL EXPENSES -->
                <div id="cya-offence-3-mitigation">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-third">
                            <p class="govuk-body margin-bottom-0">Travel expenses</p>
                        </div>
                        <div class="govuk-grid-column-two-thirds">
                            <p class="margin-bottom-0">
                                {{data['xxx']}} 
                            </p>
                        </div>
                    </div>
                    <div class="margin-top-10 margin-bottom-15">
                        <hr class="govuk-section-break govuk-section-break--visible">
                    </div>
                </div>

                <!-- ------------------- -->
                <!-- ANY OTHER EXPENSES? -->
                <div id="cya-offence-3-mitigation">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-third">
                            <p class="govuk-body margin-bottom-0">Any other expenses?</p>
                        </div>
                        <div class="govuk-grid-column-two-thirds">
                            <p class="margin-bottom-0">
                                {{data['xxx']}} 
                            </p>
                        </div>
                    </div>
                    <div class="margin-top-10 margin-bottom-15">
                        <hr class="govuk-section-break govuk-section-break--visible">
                    </div>
                </div>

                    <!-- ------------------- -->
                    <!-- AMOUNT OF OTHER EXPENSES -->
                    <div id="cya-offence-3-mitigation">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-one-third">
                                <p class="govuk-body margin-bottom-0">Amount of other expenses</p>
                            </div>
                            <div class="govuk-grid-column-two-thirds">
                                <p class="margin-bottom-0">
                                    {{data['xxx']}} 
                                </p>
                            </div>
                        </div>
                        <div class="margin-top-10 margin-bottom-15">
                            <hr class="govuk-section-break govuk-section-break--visible">
                        </div>
                    </div>

                    <!-- -------------------- -->
                    <!-- MONTHLY AMOUNT TOTAL -->
                    <div id="cya-offence-3-mitigation">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-one-third">
                                <p class="govuk-body margin-bottom-0">Monthly amount total</p>
                            </div>
                            <div class="govuk-grid-column-two-thirds">
                                <p class="margin-bottom-0">
                                    {{data['xxx']}} 
                                </p>
                            </div>
                        </div>
                        <div class="margin-top-10 margin-bottom-15">
                            <hr class="govuk-section-break govuk-section-break--visible">
                        </div>
                    </div>

        <form action="" method="post">
            <div class="govuk-form-group">
                
                <p class="margin-top-60 govuk-hint">You can download a copy of your plea after it has been submitted.</p>

                <button type="submit" class="govuk-button margin-top-30 margin-bottom-15">
                    Confirm and continue
                </button>
                <p class="govuk-body">
                    <a class="govuk-link" href="javascript:history.back()">Back</a>
                </p>

            </div>
        </form>
        
    </div>

</div>

{% endblock %}
