
{% extends "layout.html" %}

{% block pageTitle %}
  Make a plea
{% endblock %}

{% block content %}

{% include "includes/phase-banner.html" %}
{% include "includes/breadcrumb_back.html" %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
        Guilty plea
    </h1>

        <div class="govuk-inset-text">
            <p class="govuk-body margin-bottom-5">You have the right to attend an open court hearing but don’t have to. The magistrate can also consider your case without you and send you their decision by post.</p>
            <p class="govuk-body margin-bottom-5">Magistrates follow the same guidelines either way.</p>
        </div>
        
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        
        <form action="" method="post">
            <div class="govuk-form-group">
        
            <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">

                <!-- OFFENCE 1 -->
                <h2 class="govuk-heading-m">
                    Offence 1 of 3
                </h2>
                <details class="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text govuk-!-font-weight-bold">
                            Driving without insurance
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <p class="govuk-body">On 07/03/2019 at Manchester used a motor vehicle, namely a Audi A4 VRM N15 REP, on a road, or other public place, namely Lordship Lane, Lower Broughton, when there was not in force in relation to that use such a policy of insurance or such a security in respect of third party risks as complied with the requirements of Part VI of the Road Traffic Act 1988.</p>

                        <p class="govuk-body">Contrary to section 143 of the Road Traffic Act 1988</p>

                        <p class="govuk-body govuk-!-font-weight-bold">This offence carries penalty points</p>
                    </div>
                </details>

                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

                <!-- OFFENCE 2 -->
                <h2 class="govuk-heading-m">
                    Offence 2 of 3
                </h2>
                <details class="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text govuk-!-font-weight-bold">
                            Driving without insurance
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <p class="govuk-body">On 07/03/2019 at Manchester used a motor vehicle, namely a Audi A4 VRM N15 REP, on a road, or other public place, namely Lordship Lane, Lower Broughton, when there was not in force in relation to that use such a policy of insurance or such a security in respect of third party risks as complied with the requirements of Part VI of the Road Traffic Act 1988.</p>

                        <p class="govuk-body">Contrary to section 143 of the Road Traffic Act 1988</p>

                        <p class="govuk-body govuk-!-font-weight-bold">This offence carries penalty points</p>
                    </div>
                </details>

                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

                <!-- OFFENCE 3 -->
                <h2 class="govuk-heading-m">
                    Offence 3 of 3
                </h2>
                <details class="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text govuk-!-font-weight-bold">
                            Driving without insurance
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <p class="govuk-body">On 07/03/2019 at Manchester used a motor vehicle, namely a Audi A4 VRM N15 REP, on a road, or other public place, namely Lordship Lane, Lower Broughton, when there was not in force in relation to that use such a policy of insurance or such a security in respect of third party risks as complied with the requirements of Part VI of the Road Traffic Act 1988.</p>

                        <p class="govuk-body">Contrary to section 143 of the Road Traffic Act 1988</p>

                        <p class="govuk-body govuk-!-font-weight-bold">This offence carries penalty points</p>
                    </div>
                </details>

                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

                <h3 class="govuk-heading-s">
                    Would you like to come to court?
                </h3>

                <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="guilty-come-to-court-1" name="guilty-come-to-court" type="radio" value="Yes" data-aria-controls="conditional-guilty-come-to-court-1" {{ checked('guilty-come-to-court','Yes') }}>
                        <label class="govuk-label govuk-radios__label" for="guilty-come-to-court-1">
                            Yes
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="guilty-come-to-court-2" name="guilty-come-to-court" type="radio" value="No" data-aria-controls="conditional-guilty-come-to-court-2" {{ checked('guilty-come-to-court','No') }}>
                        <label class="govuk-label govuk-radios__label" for="guilty-come-to-court-2">
                            No
                        </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-guilty-come-to-court-2">
                        <div class="govuk-form-group">
                            <p class="govuk-body">
                                You might still have to come to court. We’ll write to you if you need to.
                            </p>
                        </div>
                    </div>
                </div>

            </fieldset>

            <button type="submit" class="govuk-button margin-top-30 margin-bottom-15">
                Continue
            </button>
            <p class="govuk-body">
                <a class="govuk-body" href="javascript:history.back()">Back</a>
            </p>

        </div>
    </form>
        
</div>

<div class="govuk-grid-column-one-third">

    {% include "includes/help-and-advice-header.html" %}
    {% include "includes/help-and-advice-2.html" %}
    {% include "includes/help-and-advice-3.html" %}
    {% include "includes/help-and-advice-4.html" %}

</div>

</div>

{% endblock %}
