
{% extends "layout.html" %}

{% block pageTitle %}
  Make a plea
{% endblock %}

{% block content %}

{% include "includes/phase-banner.html" %}
{% include "includes/breadcrumb_back.html" %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
        Not guilty plea
    </h1>

        <p class="govuk-heading-s">You need to explain why you think you’re not guilty:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>the magistrates will review this before your court hearing</li>
            <li>you’ll get the chance to explain again at this hearing and show any         relevant documents</li>
        </ul>
        
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        
        <form action="" method="post">
            <div class="govuk-form-group">
        
            <!-- OFFENCE 1 -->
            <fieldset class="govuk-fieldset" aria-describedby="offence-1-mitigation-hint">

                <h2 class="govuk-heading-m">
                    Offence 1 of 3
                </h2>

                <details class="govuk-details margin-bottom-15">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text govuk-!-font-weight-bold">
                            Driving without insurance
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <p class="govuk-body">On 07/03/2019 at Manchester used a motor vehicle, namely a Audi A4 VRM N15 REP, on a road, or other public place, namely Lordship Lane, Lower Broughton, when there was not in force in relation to that use such a policy of insurance or such a security in respect of third party risks as complied with the requirements of Part VI of the Road Traffic Act 1988.</p>

                        <p class="govuk-body">Contrary to section 143 of the Road Traffic Act 1988</p>

                        <p class="govuk-body govuk-!-font-weight-bold">This offence carries penalty points</p>
                    </div>
                </details>

                <div class="govuk-character-count margin-bottom-0" data-module="character-count" data-maxlength="200">
                    <div class="govuk-form-group">
                        <textarea class="govuk-textarea js-character-count " id="offence-1-mitigation" name="offence-1-mitigation" rows="5" aria-describedby="offence-1-mitigation-hint-hint"></textarea>
                    </div>

                    <span id="offence-1-mitigation-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                        You can enter up to 200 characters
                    </span>
                </div>
                
            </fieldset>

            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

            <!-- OFFENCE 2 -->
            <fieldset class="govuk-fieldset" aria-describedby="offence-2-mitigation-hint">

                <h2 class="govuk-heading-m">
                    Offence 2 of 3
                </h2>

                <details class="govuk-details margin-bottom-15">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text govuk-!-font-weight-bold">
                            Driving without insurance
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <p class="govuk-body">On 07/03/2019 at Manchester used a motor vehicle, namely a Audi A4 VRM N15 REP, on a road, or other public place, namely Lordship Lane, Lower Broughton, when there was not in force in relation to that use such a policy of insurance or such a security in respect of third party risks as complied with the requirements of Part VI of the Road Traffic Act 1988.</p>

                        <p class="govuk-body">Contrary to section 143 of the Road Traffic Act 1988</p>

                        <p class="govuk-body govuk-!-font-weight-bold">This offence carries penalty points</p>
                    </div>
                </details>

                <div class="govuk-character-count margin-bottom-0" data-module="character-count" data-maxlength="200">
                    <div class="govuk-form-group">
                        <textarea class="govuk-textarea js-character-count " id="offence-2-mitigation-hint" name="offence-2-mitigation-hint" rows="5" aria-describedby="offence-2-mitigation-hint-hint"></textarea>
                    </div>

                    <span id="offence-2-mitigation-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                        You can enter up to 200 characters
                    </span>
                </div>
                
            </fieldset>

            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

                <!-- OFFENCE 3 -->
            <fieldset class="govuk-fieldset" aria-describedby="offence-3-mitigation-hint">

                <h2 class="govuk-heading-m">
                    Offence 3 of 3
                </h2>

                <details class="govuk-details margin-bottom-15">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text govuk-!-font-weight-bold">
                            Driving without insurance
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <p class="govuk-body">On 07/03/2019 at Manchester used a motor vehicle, namely a Audi A4 VRM N15 REP, on a road, or other public place, namely Lordship Lane, Lower Broughton, when there was not in force in relation to that use such a policy of insurance or such a security in respect of third party risks as complied with the requirements of Part VI of the Road Traffic Act 1988.</p>

                        <p class="govuk-body">Contrary to section 143 of the Road Traffic Act 1988</p>

                        <p class="govuk-body govuk-!-font-weight-bold">This offence carries penalty points</p>
                    </div>
                </details>

                <div class="govuk-character-count margin-bottom-0" data-module="character-count" data-maxlength="200">
                    <div class="govuk-form-group">
                        <textarea class="govuk-textarea js-character-count " id="offence-3-mitigation-hint" name="offence-3-mitigation-hint" rows="5" aria-describedby="offence-3-mitigation-hint-hint"></textarea>
                    </div>

                    <span id="offence-3-mitigation-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                        You can enter up to 200 characters
                    </span>
                </div>
                
            </fieldset>

            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

            <button type="submit" class="govuk-button margin-top-0 margin-bottom-15">
                Continue
            </button>
            <p class="govuk-body">
                <a class="govuk-body" href="javascript:history.back()">Back</a>
            </p>

        </div>
    </form>
        
</div>

<div class="govuk-grid-column-one-third">

    {% include "includes/help-and-advice-header.html" %}
    {% include "includes/help-and-advice-2.html" %}
    {% include "includes/help-and-advice-3.html" %}
    {% include "includes/help-and-advice-4.html" %}

</div>

</div>

{% endblock %}
