
{% extends "layout.html" %}

{% block pageTitle %}
  Make a plea
{% endblock %}

{% block content %}

<script>
    window.onload = function() {
        
        /************ */
        /************ */
        /* PLEA CHECK */
        var offence_1_plea = document.getElementById('offence-1-plea').innerHTML;
        var offence_2_plea = document.getElementById('offence-2-plea').innerHTML;
        var offence_3_plea = document.getElementById('offence-3-plea').innerHTML;
        
        if (offence_1_plea != "Not guilty") {
            document.getElementById('offence-1-main-group').style.display = "none";
        }
        if (offence_2_plea != "Not guilty") {
            document.getElementById('offence-2-main-group').style.display = "none";
        }
        if (offence_3_plea != "Not guilty") {
            document.getElementById('offence-3-main-group').style.display = "none";
        }
        
        
        
        

        
        
        
        
        
    }
</script>

{% include "includes/phase-banner.html" %}
{% include "includes/breadcrumb_back.html" %}
{% include "includes/data-check.html" %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
        Not guilty plea
    </h1>

        <p class="govuk-heading-s">You need to explain why you think you’re not guilty:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>tell us if you disagree with the statement(s) in this notice and why</li>
        </ul>
        
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        
        <form action="" method="post">
            <div class="govuk-form-group">
        
            <!-- OFFENCE 1 -->
            <fieldset id="offence-1-main-group" class="govuk-fieldset" aria-describedby="offence-1-mitigation-hint">

                <h2 class="govuk-heading-m">
                    Offence 1 of 3
                </h2>

                <details class="govuk-details margin-bottom-15">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text govuk-!-font-weight-bold">
                            {{data['offence-1-title']}}
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                            <p class="govuk-body">{{data['offence-1-wording-1']}}</p>
                            <p class="govuk-body">{{data['offence-1-wording-2']}}</p>
                            <p class="govuk-body govuk-!-font-weight-bold">{{data['offence-1-wording-3']}}</p>
                    </div>
                </details>

                <div class="govuk-character-count margin-bottom-0" data-module="character-count" data-maxlength="1000">
                    <div class="govuk-form-group">
                        <textarea class="govuk-textarea js-character-count " id="offence-1-mitigation" name="offence-1-mitigation" rows="5" aria-describedby="offence-1-mitigation">{{ data['offence-1-mitigation'] }}</textarea>
                    </div>

                    <span id="offence-1-mitigation-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                        You can enter up to 200 characters
                    </span>
                </div>
                
                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

            </fieldset>

            <!-- OFFENCE 2 -->
            <fieldset id="offence-2-main-group" class="govuk-fieldset" aria-describedby="offence-2-mitigation-hint">

                <h2 class="govuk-heading-m">
                    Offence 2 of 3
                </h2>

                <details class="govuk-details margin-bottom-15">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text govuk-!-font-weight-bold">
                            {{data['offence-2-title']}}
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                            <p class="govuk-body">{{data['offence-2-wording-1']}}</p>
                            <p class="govuk-body">{{data['offence-2-wording-2']}}</p>
                            <p class="govuk-body govuk-!-font-weight-bold">{{data['offence-2-wording-3']}}</p>
                    </div>
                </details>

                <div class="govuk-character-count margin-bottom-0" data-module="character-count" data-maxlength="1000">
                    <div class="govuk-form-group">
                        <textarea class="govuk-textarea js-character-count " id="offence-2-mitigation" name="offence-2-mitigation" rows="5" aria-describedby="offence-2-mitigation">{{ data['offence-2-mitigation'] }}</textarea>
                    </div>

                    <span id="offence-2-mitigation-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                        You can enter up to 200 characters
                    </span>
                </div>
                
                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

            </fieldset>

            <!-- OFFENCE 3 -->
            <fieldset id="offence-3-main-group" class="govuk-fieldset" aria-describedby="offence-3-mitigation-hint">

                <h2 class="govuk-heading-m">
                    Offence 3 of 3
                </h2>

                <details class="govuk-details margin-bottom-15">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text govuk-!-font-weight-bold">
                            {{data['offence-3-title']}}
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                            <p class="govuk-body">{{data['offence-3-wording-1']}}</p>
                            <p class="govuk-body">{{data['offence-3-wording-2']}}</p>
                            <p class="govuk-body">{{data['offence-3-wording-3']}}</p>
                            <p class="govuk-body govuk-!-font-weight-bold">{{data['offence-3-wording-4']}}</p>
                    </div>
                </details>

                <div class="govuk-character-count margin-bottom-0" data-module="character-count" data-maxlength="1000">
                    <div class="govuk-form-group">
                        <textarea class="govuk-textarea js-character-count " id="offence-3-mitigation" name="offence-3-mitigation" rows="5" aria-describedby="offence-3-mitigation">{{ data['offence-3-mitigation'] }}</textarea>
                    </div>

                    <span id="offence-3-mitigation-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                        You can enter up to 200 characters
                    </span>
                </div>
                
                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
                
            </fieldset>
                
                
                
                
                
                
                
                
                

            <button type="submit" class="govuk-button margin-top-0 margin-bottom-15">
                Continue
            </button>
            <p class="govuk-body">
                <a class="govuk-body" href="javascript:history.back()">Back</a>
            </p>

        </div>
    </form>
        
</div>

<div class="govuk-grid-column-one-third">

    {% include "includes/help-and-advice-header.html" %}
    {% include "includes/help-and-advice-1.html" %}
    {% include "includes/help-and-advice-2.html" %}
    {% include "includes/help-and-advice-3.html" %}
    {% include "includes/help-and-advice-4.html" %}

</div>

</div>

{% endblock %}
