
{% extends "layout.html" %}

{% block pageTitle %}
  Make a plea
{% endblock %}

{% block content %}

<script>
    
    window.onload = function() {
        
        /************ */
        /************ */
        /* PLEA CHECK */
        var offence_1_plea = document.getElementById('offence-1-plea').innerHTML;
        var offence_2_plea = document.getElementById('offence-2-plea').innerHTML;
        var offence_3_plea = document.getElementById('offence-3-plea').innerHTML;
        var guilty_come_to_court = document.getElementById('guilty-come-to-court').innerHTML;
        
        /* ALL NOT GUILTY */
        if ((offence_1_plea == "Not guilty") && (offence_2_plea == "Not guilty") && (offence_3_plea == "Not guilty")) {
            //alert('ALL NOT GUILTY');
            //document.getElementById('offence-1-group').style.display = "none";
        }
        
        /* COMBINATION OF NOT GUILTY & GUILTY, I WANT TO COME TO COURT */
        if (guilty_come_to_court == "Yes") {
            if ((offence_1_plea == "Not guilty") || (offence_2_plea == "Not guilty") || (offence_3_plea == "Not guilty") && (guilty_come_to_court == "Yes")) {
                //alert('COMBINATION OF NOT GUILTY & GUILTY, I WANT TO COME TO COURT');
                //document.getElementById('offence-1-group').style.display = "none";
            }
        }
        
        /* ALL GUILTY, I WANT TO COME TO COURT */
        if ((guilty_come_to_court == "Yes") && (offence_1_plea == "Guilty") && (offence_2_plea == "Guilty") && (offence_3_plea == "Guilty")) {
            //alert('ALL GUILTY, I WANT TO COME TO COURT');
            document.getElementById('witness-group').style.display = "none";
            document.getElementById('court-dates-group').style.display = "none";
            document.getElementById('witness-group').style.display = "none";
        }

        
    }
        

    
</script>


{% include "includes/phase-banner.html" %}
{% include "includes/breadcrumb_back.html" %}
{% include "includes/data-check.html" %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
        Your court hearing
    </h1>  
      
    <form action="" method="post">
        <div class="govuk-form-group">
            
            <!-- WITNESSES -->
            <div id="witness-group" class="govuk-form-group witness-group">

                <h2 class="govuk-heading-m">Witnesses</h2>

                <!-- DO YOU WANT TO BRING YOUR OWN WITNESS? -->
                <fieldset class="govuk-fieldset" aria-describedby="do-you-want-to-bring-your-own-witness-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h1 class="govuk-fieldset__heading">
                            Do you want to bring your own witness?
                        </h1>
                    </legend>
                    <span id="do-you-want-to-bring-your-own-witness-hint" class="govuk-hint">
                        Someone who can give evidence in court supporting your case
                    </span>
                    <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="do-you-want-to-bring-your-own-witness-1" name="do-you-want-to-bring-your-own-witness" type="radio" value="Yes" data-aria-controls="conditional-do-you-want-to-bring-your-own-witness-1" {{ checked('do-you-want-to-bring-your-own-witness','Yes') }}>
                            <label class="govuk-label govuk-radios__label" for="do-you-want-to-bring-your-own-witness-1">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-do-you-want-to-bring-your-own-witness-1">

                            <div class="govuk-character-count" data-module="character-count" data-maxlength="1000">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="witness-details">
                                        Enter the name and address of your witness and their age and date of birth if known
                                    </label>
                                    <span id="do-you-want-to-bring-your-own-witness-hint" class="govuk-hint">
                                        If your witness needs an interpreter then you will need to arrange this
                                    </span>
                                    <textarea class="govuk-textarea js-character-count " id="witness-details" name="witness-details" rows="5" aria-describedby="witness-details">{{data['witness-details']}}</textarea>
                                </div>

                                <span id="witness-details-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                                    You can enter up to 200 characters
                                </span>
                            </div>

                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="do-you-want-to-bring-your-own-witness-2" name="do-you-want-to-bring-your-own-witness" type="radio" value="No" {{ checked('do-you-want-to-bring-your-own-witness','No') }}>
                            <label class="govuk-label govuk-radios__label" for="do-you-want-to-bring-your-own-witness-2">
                                No
                            </label>
                        </div>

                    </div>
                </fieldset>
                
            </div>
                
            <!-- COURT DATES -->
            <div id="court-dates-group" class="govuk-form-group court-dates-group">

                <h2 class="govuk-heading-m margin-top-60">Court dates</h2>

                <!-- DATES TO AVOID -->
                <fieldset class="govuk-fieldset" aria-describedby="dates-to-avoid-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h1 class="govuk-fieldset__heading">
                            Are there any dates you or your witness can not attend court?
                        </h1>
                    </legend>
                    <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="dates-to-avoid-1" name="dates-to-avoid" type="radio" value="Yes" data-aria-controls="conditional-dates-to-avoid-1" {{ checked('dates-to-avoid','Yes') }}>
                            <label class="govuk-label govuk-radios__label" for="dates-to-avoid-1">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-dates-to-avoid-1">

                            <div class="govuk-character-count" data-module="character-count" data-maxlength="1000">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="which-dates-to-avoid">
                                        Enter the dates you or your witness can not attend court
                                    </label>
                                    <textarea class="govuk-textarea js-character-count " id="which-dates-to-avoid" name="which-dates-to-avoid" rows="5" aria-describedby="which-dates-to-avoid-hint">{{data['which-dates-to-avoid']}}</textarea>
                                </div>

                                <span id="which-dates-to-avoid-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                                    You can enter up to 200 characters
                                </span>
                            </div>

                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="dates-to-avoid-2" name="dates-to-avoid" type="radio" value="No" {{ checked('dates-to-avoid','No') }}>
                            <label class="govuk-label govuk-radios__label" for="dates-to-avoid-2">
                                No
                            </label>
                        </div>

                    </div>
                </fieldset>
                
            </div>
                
            <!-- LANGUAGES -->
            <div id="languages-group" class="govuk-form-group languages-group">

                <h2 class="govuk-heading-m margin-top-60">Languages</h2>

                <!-- DO YOU NEED AN INTERPRETER? -->
                <fieldset class="govuk-fieldset" aria-describedby="do-you-need-an-interpreter-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h1 class="govuk-fieldset__heading">
                            Do you need an interpreter in court?
                        </h1>
                    </legend>
                    <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="do-you-need-an-interpreter-1" name="do-you-need-an-interpreter" type="radio" value="Yes" data-aria-controls="conditional-do-you-need-an-interpreter-1" {{ checked('do-you-need-an-interpreter','Yes') }}>
                            <label class="govuk-label govuk-radios__label" for="do-you-need-an-interpreter-1">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-do-you-need-an-interpreter-1">

                            <div class="govuk-form-group">
                                <label class="govuk-label" for="which-language">
                                    Which language?
                                </label>
                                <span id="do-you-want-to-bring-your-own-witness-hint" class="govuk-hint">
                                    You can include sign language
                                </span>
                                <input class="govuk-input" id="which-language" name="which-language" type="text" value="{{data['which-language']}}">
                            </div>                            
                            
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="do-you-need-an-interpreter-2" name="do-you-need-an-interpreter" type="radio" value="No" {{ checked('do-you-need-an-interpreter','No') }}>
                            <label class="govuk-label govuk-radios__label" for="do-you-need-an-interpreter-2">
                                No
                            </label>
                        </div>

                    </div>
                </fieldset>

                <!-- DO YOU WISH TO SPEAK WELSH? -->
                <fieldset class="govuk-fieldset margin-top-30" aria-describedby="do-you-wish-to-speak-welsh-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h1 class="govuk-fieldset__heading">
                            If there is a court hearing in Wales do you wish to speak Welsh?
                        </h1>
                    </legend>
                    <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="do-you-wish-to-speak-welsh-1" name="do-you-wish-to-speak-welsh" type="radio" value="Yes" {{ checked('do-you-wish-to-speak-welsh','Yes') }}>
                            <label class="govuk-label govuk-radios__label" for="do-you-need-an-interpreter-1">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="do-you-wish-to-speak-welsh-2" name="do-you-wish-to-speak-welsh" type="radio" value="No" {{ checked('do-you-wish-to-speak-welsh','No') }}>
                            <label class="govuk-label govuk-radios__label" for="do-you-wish-to-speak-welsh-2">
                                No
                            </label>
                        </div>

                    </div>
                </fieldset>
                
                
            </div>
                
            <!-- DISABILITY OR ACCESS NEEDS -->
            <div id="access-needs-group" class="govuk-form-group access-needs-group">

                <h2 class="govuk-heading-m margin-top-60">Disabilities or access needs</h2>

                <!-- DATES TO AVOID -->
                <fieldset class="govuk-fieldset" aria-describedby="access-needs-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h1 class="govuk-fieldset__heading">
                            Do you have a disability or access need you want the court to know about?
                        </h1>
                    </legend>
                    <span id="do-you-want-to-bring-your-own-witness-hint" class="govuk-hint">
                        For example, if you need to use a hearing loop
                    </span>
                    <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="access-needs-1" name="access-needs" type="radio" value="Yes" data-aria-controls="conditional-access-needs-1" {{ checked('access-needs','Yes') }}>
                            <label class="govuk-label govuk-radios__label" for="access-needs-1">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-access-needs-1">

                            <div class="govuk-character-count" data-module="character-count" data-maxlength="1000">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="which-access-needs">
                                        Tell the court about your disability or access needs
                                    </label>
                                    <textarea class="govuk-textarea js-character-count " id="which-access-needs" name="which-access-needs" rows="5" aria-describedby="which-access-needs-hint">{{data['which-access-needs']}}</textarea>
                                </div>

                                <span id="which-access-needs-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                                    You can enter up to 200 characters
                                </span>
                            </div>

                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="acccess-needs-2" name="access-needs" type="radio" value="No" {{ checked('access-needs','No') }}>
                            <label class="govuk-label govuk-radios__label" for="access-needs-2">
                                No
                            </label>
                        </div>

                    </div>
                </fieldset>
                
            </div>
                
            <button type="submit" class="govuk-button margin-top-30 margin-bottom-15">
                Continue
            </button>
            <p class="govuk-body">
                <a class="govuk-body" href="javascript:history.back()">Back</a>
            </p>

        </div>
    </form>
        
</div>

<div class="govuk-grid-column-one-third">

    {% include "includes/help-and-advice-header.html" %}
    {% include "includes/help-and-advice-4.html" %}

</div>

</div>

{% endblock %}
