
{% extends "layout.html" %}

{% block pageTitle %}
  Make a plea
{% endblock %}

{% block content %}

{% include "includes/phase-banner.html" %}
{% include "includes/breadcrumb_back.html" %}
{% include "includes/data-check.html" %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
        Your benefits
    </h1>  
      
    <form action="" method="post">
        <div class="govuk-form-group">
        
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    <h2 class="govuk-fieldset__heading">
                        Are you claiming any benefits?
                    </h2>
                </legend>
                <span id="are-you-claiming-benefits-hint" class="govuk-hint">
                    Answser no if you only get child benefit
                </span>
                <div class="govuk-radios govuk-radios--inline">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="are-you-claiming-benefits-1" name="are-you-claiming-benefits" type="radio" value="Yes" {{ checked('are-you-claiming-benefits','Yes') }}>
                        <label class="govuk-label govuk-radios__label" for="are-you-claiming-benefits-1">
                        Yes
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="are-you-claiming-benefits-2" name="are-you-claiming-benefits" type="radio" value="No" {{ checked('are-you-claiming-benefits','No') }}>
                        <label class="govuk-label govuk-radios__label" for="are-you-claiming-benefits-2">
                            No
                        </label>
                    </div>
                </div>
            </fieldset>
            
            <button type="submit" class="govuk-button margin-top-30 margin-bottom-15">
                Continue
            </button>
            <p class="govuk-body">
                <a class="govuk-body" href="javascript:history.back()">Back</a>
            </p>

        </div>
    </form>
        
</div>

<div class="govuk-grid-column-one-third">

    {% include "includes/help-and-advice-header.html" %}
    {% include "includes/help-and-advice-4.html" %}

</div>

</div>

{% endblock %}
