
{% extends "layout.html" %}

{% block pageTitle %}
  Make a plea
{% endblock %}

{% block content %}

{% include "includes/phase-banner.html" %}
{% include "includes/breadcrumb_back.html" %}
{% include "includes/data-check.html" %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
        Your monthly outgoings
    </h1>  
      
    <form action="" method="post">
        <div class="govuk-form-group">
            
            <h2 class="govuk-heading-m">What are your monthly bills for the following?</h2>
            
            <div class="govuk-form-group">
                <label class="govuk-label govuk-!-font-weight-bold margin-bottom-0" for="accomodation">
                    Accommodation
                </label>
                <span id="accomodation-hint" class="govuk-hint">
                    For example, rent, mortgage or lodgings
                </span>
                <div class="input-icon">
                    <i class="govuk-body">£</i>
                    <input class="govuk-input govuk-!-width-one-third" id="accomodation" name="accomodation" type="number" min="0.00" step="0.01" max="1000000" aria-describedby="accomodation-hint" value="{{ data['accomodation'] }}">
                </div>
            </div>            
            
            <div class="govuk-form-group">
                <label class="govuk-label govuk-!-font-weight-bold" for="council-tax">
                    Council tax
                </label>
                <div class="input-icon">
                    <i class="govuk-body">£</i>
                    <input class="govuk-input govuk-!-width-one-third" id="council-tax" name="council-tax" type="number" min="0.00" step="0.01" max="1000000" aria-describedby="council-tax-hint" value="{{ data['council-tax'] }}">
                </div>
            </div>            
            
            <div class="govuk-form-group">
                <label class="govuk-label govuk-!-font-weight-bold margin-bottom-0" for="household-bills">
                    Household bills
                </label>
                <span id="household-bills-hint" class="govuk-hint">
                    For example, gas, electricity, water, insurance
                </span>
                <div class="input-icon">
                    <i class="govuk-body">£</i>
                    <input class="govuk-input govuk-!-width-one-third" id="household-bills" name="household-bills" type="number" min="0.00" step="0.01" max="1000000" aria-describedby="household-bills-hint" value="{{ data['household-bills'] }}">
                </div>
            </div>            
            
            <div class="govuk-form-group">
                <label class="govuk-label govuk-!-font-weight-bold margin-bottom-0" for="travel-expenses">
                    Travel expenses
                </label>
                <span id="travel-expenses-hint" class="govuk-hint">
                    For example, fuel, car, public transport
                </span>
                <div class="input-icon">
                    <i class="govuk-body">£</i>
                    <input class="govuk-input govuk-!-width-one-third" id="travel-expenses" name="travel-expenses" type="number" min="0.00" step="0.01" max="1000000" aria-describedby="travel-expenses-hint" value="{{ data['travel-expenses'] }}">
                </div>
            </div>            
            
            <div class="govuk-form-group">
                <label class="govuk-label govuk-!-font-weight-bold" for="child-maintenance">
                    Child maintenance
                </label>
                <div class="input-icon">
                    <i class="govuk-body">£</i>
                    <input class="govuk-input govuk-!-width-one-third" id="child-maintenance" name="child-maintenance" type="number" min="0.00" step="0.01" max="1000000" aria-describedby="child-maintenance-hint" value="{{ data['child-maintenance'] }}">
                </div>
            </div>            
            
            <fieldset class="govuk-fieldset margin-top-30" aria-describedby="any-other-expenses-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    <h1 class="govuk-fieldset__heading">
                        Any other expenses?
                    </h1>
                </legend>

                <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="any-other-expenses-1" name="any-other-expenses" type="radio" value="Yes" data-aria-controls="conditional-any-other-expenses-1" {{ checked('any-other-expenses','Yes') }}>
                        <label class="govuk-label govuk-radios__label" for="any-other-expenses-1">
                            Yes
                        </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-any-other-expenses-1">
                        
                        <div class="govuk-character-count" data-module="character-count" data-maxlength="1000">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-!-font-weight-bold" for="list-of-other-expenses">
                                    List any other monthly outgoings you believe the court should know about
                                </label>
                                <span id="list-of-other-expenses-hint" class="govuk-hint">
                                    For example, other court orders, Netflix, TV license
                                </span>
                                
                                
                                
                                
                                <!--
                                <textarea class="govuk-textarea js-character-count " id="list-of-other-expenses" name="list-of-other-expenses" rows="5" aria-describedby="list-of-other-expenses-hint"></textarea>
                                -->
                                
                                
                                <div class="govuk-character-count margin-bottom-0" data-module="character-count" data-maxlength="1000">
                                    <div class="govuk-form-group">
                                        <textarea class="govuk-textarea js-character-count " id="list-of-other-expenses" name="list-of-other-expenses" rows="5" aria-describedby="list-of-other-expenses">{{data['list-of-other-expenses-hint']}}</textarea>
                                    </div>

                                    <span id="list-of-other-expenses-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                                        You can enter up to 200 characters
                                    </span>
                                </div>
                                
                                
                                
                                
                                
                                
                                
                                
                                
                            </div>

                            <!--
                            <span id="list-of-othe-expenses-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                                You can enter up to 200 characters
                            </span>
                            -->
                        </div>                        
                        
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-!-font-weight-bold" for="amount-of-other-expenses">
                                Amount of other expenses
                            </label>
                            <div class="input-icon">
                                <i class="govuk-body">£</i>
                                <input class="govuk-input govuk-!-width-one-third" id="amount-of-other-expenses" name="amount-of-other-expenses" type="number" min="0.00" step="0.01" max="1000000" aria-describedby="amount-of-other-expenses-hint" value="{{ data['amount-of-other-expenses'] }}">
                            </div>
                        </div>            
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="any-other-expenses-2" name="any-other-expenses" type="radio" value="No" {{ checked('any-other-expenses','No') }}>
                        <label class="govuk-label govuk-radios__label" for="any-other-expenses-2">
                            No
                        </label>
                    </div>
                </div>
            </fieldset>
    
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
        
            <button type="submit" class="govuk-button margin-top-30 margin-bottom-15">
                Continue
            </button>
            <p class="govuk-body">
                <a class="govuk-body" href="javascript:history.back()">Back</a>
            </p>

        </div>
    </form>
        
</div>

<div class="govuk-grid-column-one-third">

    {% include "includes/help-and-advice-header.html" %}
    {% include "includes/help-and-advice-4.html" %}

</div>

</div>

{% endblock %}
